body {
    background: linear-gradient(45deg, #00cbb7da, #0098d9de, #00baa7d7, #0081b8dc);
    animation: color 12s ease-in-out infinite;
    background-size: 2000% 2000%;
    background-position: 0%;
    font-family: 'Open Sans';
}

@keyframes color {
    0% { background-position: 0% 50%; }
    25% { background-position: 25% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 75% 50%; }
    100% { background-position: 0% 50%; }
}

.background-square {
    position: fixed;
    top: 500;
    left: 100;
    width: 88%; 
    height: 88%;
    margin-top: 3%;
    margin-left: 7%;
    border-radius: 20px;
    background-color: #ffffff6b;
    z-index: -1;
}


nav {
    font-family: 'Open Sans', sans-serif;
    margin-top: 1%;
    padding: 0;
}

.container-fluid {
    width: 93%;
    height: 11%;
    border-radius: 20px;
    background: rgba(203, 200, 200, 0.468);
    box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border: 1px solid #ffffffc4;
}

/* .container-fluid .navbar-brand {
    text-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.25);
} */

.navbar-nav .nav-link.active {
    border-radius: 50px;
    background-color: #4D96B6;
    color: #fff;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
}

.nav-link:hover {
    border-radius: 50px;
    background-color: #9494947a;
    color: #fff;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}
.navbar-nav {
    gap: 25px;
}

.home {
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

.slideshow-container {
    position: relative;
    max-width: 70%;
    overflow: hidden;
    border-radius: 8px;
}

.slide {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.slide.active {
    opacity: 1;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon img {
    width: 100%;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px; 
}

.button-daftar {
    background-color: #4D96B6;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-daftar:hover {
    background-color: #155d82;
}
