body {
    background: linear-gradient(45deg, #00cbb7da, #0098d9de, #00baa7d7, #0081b8dc);
    animation: color 12s ease-in-out infinite;
    background-size: 2000% 2000%;
    background-position: 0%;
    font-family: 'Open Sans';
    overflow: hidden;
}

@keyframes color {
    0% { background-position: 0% 50%; }
    25% { background-position: 25% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 75% 50%; }
    100% { background-position: 0% 50%; }
}

.background-square {
    position: fixed;
    top: 500;
    left: 100;
    width: 88%; 
    height: 88%;
    margin-top: 3%;
    margin-left: 7%;
    border-radius: 20px;
    background-color: #ffffff6b;
    z-index: -1;
}


nav {
    font-family: 'Open Sans', sans-serif;
    margin-top: 1%;
    padding: 0;
    position: fixed; /* Fixed position */
    top: 0; /* Position at the top of the screen */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it is above other content */
    overflow: hidden;
}


.container-fluid {
    width: 93%;
    height: 11%;
    border-radius: 20px;
    background: rgba(203, 200, 200, 0.468);
    box-shadow: 0px 0px 24px -5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border: 1px solid #ffffffc4;
}


.navbar-nav .nav-link.active {
    border-radius: 50px;
    background-color: #4D96B6;
    color: #fff;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
}

.nav-link:hover {
    border-radius: 50px;
    background-color: #9494947a;
    color: #fff;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
}
.navbar-nav {
    gap: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500;
    left: 100;
    width: 88%; 
    height: 88%;
    margin-top: 0;
    margin-left: 7%;
    background: transparent;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 24px;
    margin-top: 0;
    border-radius: 28px;
    box-shadow: 0px 0px 10px 3px rgba(77, 150, 182, 0.30);
    background: rgba(217, 217, 217, 0.30);
}


.search-input {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #333;
    margin-right: 0;
    outline: none;
    border: none;
    background: transparent;
    padding-right: 0;
}

input{
    width: 680px;
}


section {
    /* position: fixed; */
    top: 500;
    left: 100;
    width: 88%; 
    height: 88%;
    margin-top: 3%;
    margin-left: 7%;
    border-radius: 20px;
    background-color: transparent;
    z-index: -1;
}